{% extends "base.html" %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Хочу Работу</title>
</head>

<body>
    {% block header_down %}
    <div class="price-slider">
        <div class="price-container">
            <div class="price-title">
                Стоимость услуг
            </div>
            <div class="price-text">
                Выберите тарифный план:
            </div>

        </div>
    </div>
         
    
    
    {% endblock %}

    {% block info %}
    <div class="price-types">
        <div class="price-types-container">
            <div class="price-types-holder">
    
                <div class="price-type" id="price-types">

                    <div class="price-type-title">
                        7 ДНЕЙ
                    </div>
    
                    <div class="price-type-desc">
                        ПРОБНАЯ ВЕРСИЯ
                    </div>

                    <div class="price-type-title">
                        0 ₽
                    </div>


                    <div class="list-li">
                        <ul class="custom-list_try">
                            <li>Обучающее видео. FAQ. Справка по программе</li>
                            <li>Количество собранных данных не ограничено</li>
                            <li>Техническая поддержка по email</li>
                            <li>Платные консультации и обучение</li>
                            <li>Бонусы от наших партнёров</li>
                        </ul>
                    </div>
                    <div class="btn-price-block">
                        <div class="btn-price">
                            Попробовать
                        </div>
                    </div>

                </div>
    
                <div class="price-type" id="price-types">

                    <div class="price-type-title">
                        30 ДНЕЙ
                    </div>
    
                    <div class="price-type-desc">
                        ПОЛНАЯ ВЕРСИЯ
                    </div>

                    <div class="price-type-title">
                        900 ₽
                    </div>

                    <div class="list-li">
                        <ul class="custom-list">
                            <li>Обучающее видео. FAQ. Справка по программе</li>
                            <li>Количество собранных данных не ограничено</li>
                            <li>Техническая поддержка по email</li>
                            <li>Платные консультации и обучение</li>
                            <li>Бонусы от наших партнёров</li>
                        </ul>
                    </div>
                    <div class="btn-price-block">
                        <div class="btn-price">
                            Приобрести
                        </div>
                    </div>

                </div>
                
                <div class="price-type" id="price-types">

                    <div class="price-type-title">
                        365 ДНЕЙ
                    </div>
    
                    <div class="price-type-desc">
                        ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ
                    </div>

                    <div class="price-type-title">
                        7020 ₽
                    </div>

                    <div class="list-li">
                        <ul class="custom-list">
                            <li>Обучающее видео. FAQ. Справка по программе</li>
                            <li>Количество собранных данных не ограничено</li>
                            <li>Техническая поддержка по email</li>
                            <li>Платные консультации и обучение</li>
                            <li>Бонусы от наших партнёров</li>
                        </ul>
                    </div>

                    <div class="btn-price-block">
                        <div class="btn-price">
                            Приобрести
                        </div>
                    </div>
                    
                </div>
            </div>     
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const priceTypes = document.querySelectorAll('.price-type');
                        
                priceTypes.forEach(function (priceType) {
                    priceType.addEventListener('click', function () {
                        // Удаление класса 'selected' у всех элементов
                        priceTypes.forEach(function (pt) {
                            pt.classList.remove('selected');
                        });
                    
                        // Добавление класса 'selected' к выбранному элементу
                        priceType.classList.add('selected');
                    });
                });
            });
        </script>

    </div>
    {% endblock %}

</body>
</html>