{% extends "base.html" %}
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    <title>Хочу Работу</title>
</head>

<body>
    {% block header_down %}
    <div class="header-down">
        <div class="profile-container">
            <div class="profile-content">
                <div class="profile-title">
                    <div class="profile-lk">
                        Личный кабинет
                    </div>
                    <hr>
                    

                    <div class="profile-main-info">
                        <div class="profile-photo">
                            <img class="profile-image" src="{% static 'hrweb/files/profilelogo.png' %}">
                        </div>

                        <div class="profile-name">
                            <div class="profile-initials">
                                {{ user.first_name }} {{ user.last_name }}
                            </div>
                            <div class="profile-nickname">
                                {{ user.username }}
                            </div>
                            <div class="profile-location">
                                {{ user.email }}
                            </div>
                        </div>
                        
                        <div class="profile-photo-btn-update">
                            Обновить
                        </div>
                        <div class="profile-photo-btn-delete">
                            Удалить
                        </div>
                    
                        
                    </div>
                    <hr>
                </div>

                <div class="profile-user-info">
                    <div class="user-info-form">
                        <form method="post" id="infoForm" action="{% url 'profile_page' %}">
                            {% csrf_token %}
                            <div class="input-container">
                                <div class="profile-user-info-name">
                                    <p>Имя</p>
                                </div>

                                <input type="text" id="first_name" name="first_name" 
                                {% if user.first_name %}
                                    value="{{ user.first_name }}"
                                {% else %}
                                    placeholder="Например, Иван"
                                {% endif %}
                                required>

                                <div class="profile-user-info-name">
                                    <p>Фамилия</p>
                                </div>
                                <input type="text" id="last_name" name="last_name" 
                                {% if user.last_name %}
                                    value="{{ user.last_name }}"
                                {% else %}
                                    placeholder="Например, Федотов"
                                {% endif %}
                                required>
                                <div class="profile-user-info-name">
                                    <p>Имя пользователя</p>
                                </div>
                                <input type="text" id="username" name="username" 
                                {% if user.username %}
                                    value="{{ user.username }}"
                                {% else %}
                                    placeholder="Например, Фуллстак"
                                {% endif %}
                                required>
                                <div class="profile-user-info-name">
                                    <p>Почта</p>
                                </div>
                                <input type="text" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@(mail\.ru|yandex\.ru|gmail\.com)"
                                {% if user.email %}
                                    value="{{ user.email }}"
                                {% else %}
                                    placeholder="Например, example@mail.ru"
                                {% endif %}
                                required>
                                <div class="profile-user-info-name">
                                    <p>Телефон</p>
                                </div>
                                <input type="text" id="phone" name="phone" 
                                {% if user.phone %}
                                    value="{{ user.phone }}"
                                {% else %}
                                    placeholder="+7"
                                {% endif %}
                                required>
                            </div>
                            <button type="submit" name="profile_submit">Сохранить</button>
                        </form>

                        


                    </div>

                    <div class="user-passwd-form">
                        <form method="post" id="passwdForm">
                            {% csrf_token %}
                            <div class="input-container">
                                <div class="profile-user-info-name">
                                    <p>Текущий пароль</p>
                                </div>
                                <div class="password-container">
                                    <div class="password-input">
                                        <input type="password" id="oldpass" name="oldpass" required>
                                        <img src="{% static 'hrweb/files/lock.png' %}" class="lock-password">

                                    </div>
                                </div>
                                
                                <div class="profile-user-info-name">
                                    <p>Новый пароль</p>
                                </div>
                                <div class="password-container">
                                    <div class="password-input">
                                        <input type="password" id="newpass" name="newpass" required>
                                        <img src="{% static 'hrweb/files/lock.png' %}" class="lock-password">
                                    </div>
                                </div>

                                <div class="profile-user-info-name">
                                    <p>Подтвердите новый пароль</p>
                                </div>
                                <div class="password-container">
                                    <div class="password-input">
                                        <input type="password" id="roldpass" name="rnewpass" required>
                                        <img src="{% static 'hrweb/files/lock.png' %}" class="lock-password">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" name="password_submit">Обновить</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% endblock %}
</body>