{% extends "base.html" %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title>Хочу Работу</title>
</head>

<body>
    {% block header_down %}
    <div class="filters-info">        
        <div class="input-container">
            <div class="search-container">
                <div class="search-input">
                    <form id="search-form" method="GET" action="{% url 'search' %}">
                        <input type="text" id="search" name="search" placeholder="Найти вакансию" value="{{ search_query|default_if_none:'' }}">
                        <img id="search-submit" src="{% static 'hrweb/files/arrow.png' %}" class="toggle-search" alt="Искать">
                    </form>
                    <!-- <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const searchSubmit = document.getElementById("search-submit");
                            const searchForm = document.getElementById("search-form");
                    
                            searchSubmit.addEventListener("click", function() {
                                searchForm.submit();
                            });
                        });
                    </script>
                    <img src="{% static 'hrweb/files/filters.png' %}" class="toggle-filters" alt="Доп фильтры"> -->
                </div>
            </div>
            
        </div>
        
    </div>

    <div id="filters-panel" class="filters-panel hidden">
        <div class="filter">
            <label for="experience">Опыт работы</label>
            <div class="radio-buttons">
                <input type="radio" id="novar" name="experience" value="novar">
                <label for="exp1">Не имеет значения</label><br>
                <input type="radio" id="noexp" name="experience" value="noexp">
                <label for="exp2">Нет опыта</label><br>
                <input type="radio" id="onetothreeexp" name="experience" value="onetothreeexp">
                <label for="exp2">От 1 года до 3 лет</label><br>
                <input type="radio" id="morethanthreeexp" name="experience" value="morethanthreeexp">
                <label for="exp2">Более 3 лет</label><br>
            </div>
        </div>
        <div class="filter">
            <label for="employment-type">Тип занятости</label>
            <div class="radio-buttons">
                <input type="radio" id="full-time" name="employment-type" value="full-time">
                <label for="full-time">Полная занятость</label><br>
                <input type="radio" id="part-time" name="employment-type" value="part-time">
                <label for="part-time">Частичная занятость</label><br>
                <input type="radio" id="volonter" name="employment-type" value="volonter">
                <label for="part-time">Волонтерство</label><br>
                <input type="radio" id="stazhirovka" name="employment-type" value="stazhirovka">
                <label for="part-time">Стажировка</label><br>
            </div>
        </div>
        <div class="filter">
            <label for="work-schedule">График работы</label>
            <div class="radio-buttons">
                <input type="radio" id="gibkiy" name="work-schedule" value="gibkiy">
                <label for="schedule1">Гибкий график</label><br>
                <input type="radio" id="full" name="work-schedule" value="full">
                <label for="schedule2">Полный день</label><br>
                <input type="radio" id="smen" name="work-schedule" value="smen">
                <label for="schedule2">Сменный график</label><br>
                <input type="radio" id="vahta" name="work-schedule" value="vahta">
                <label for="schedule2">Вахтовый метод</label><br>
            </div>
        </div>
        <div class="filter">
            <label for="show-vacancies">Выводить вакансии</label>
            <div class="radio-buttons">
                <input type="radio" id="show-all" name="show-vacancies" value="show-all">
                <label for="show-all">За все время</label><br>
                <input type="radio" id="show-month" name="show-vacancies" value="show-new">
                <label for="show-new">За месяц</label><br>
                <input type="radio" id="show-week" name="show-vacancies" value="show-new">
                <label for="show-new">За неделю</label><br>
                <input type="radio" id="show-day" name="show-vacancies" value="show-new">
                <label for="show-new">За сутки</label><br>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const filtersToggle = document.querySelector(".toggle-filters");
            const filtersPanel = document.querySelector("#filters-panel");
                        
            filtersToggle.addEventListener("click", function() {
                filtersPanel.classList.toggle("hidden");
            });
        });
    </script>
    {% endblock %}

    {% block info %}
    <div class="content-wrapper">
        <div class="filters-container">
            <div class="filters-vacancy">
                <div class="filters-group-name">
                    <span class="group-name">
                        <legend>График работы</legend>
                    </span>
                </div>
                <div class="filters-group-items">
                    <ul class="group-items-ul">
                        <li class="item-li">
                            <label class="item-checkbox-label">
                                <input name="check_sched" class="item-checkbox-element" type="checkbox" value="Полный день">
                                <span class="item-checkbox-text">
                                    <span>Полный день</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-checkbox-label">
                                <input name="check_sched" class="item-checkbox-element" type="checkbox" value="От 4 часов в день">
                                <span class="item-checkbox-text">
                                    <span>От 4 часов в день</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-checkbox-label">
                                <input name="check_sched" class="item-checkbox-element" type="checkbox" value="Не полный день">
                                <span class="item-checkbox-text">
                                    <span>Не полный день</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-checkbox-label">
                                <input name="check_sched" class="item-checkbox-element" type="checkbox" value="Сменный график">
                                <span class="item-checkbox-text">
                                    <span>Сменный график</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-checkbox-label">
                                <input name="check_sched" class="item-checkbox-element" type="checkbox" value="Гибкий график">
                                <span class="item-checkbox-text">
                                    <span>Гибкий график</span>&nbsp;
                                </span>
                            </label>
                        </li>
                    </ul>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    function handleShedChange() {
                        var selectedShed = $('input[name="check_sched"]:checked').val();
                        console.log("Selected shed level:", selectedShed);
                        var searchQuery = $('input[name="search"]').val(); // Получаем текущее значение поискового запроса
                        // Отправляем AJAX запрос на сервер
                        $.ajax({
                            url: window.location.href,
                            type: 'GET',
                            data: {
                                search: searchQuery,
                                'schedule[]': $('input[name="check_sched"]:checked').map(function(){
                                    return $(this).val();
                                }).get()
                            },
                            success: function(data) {
                                console.log("Received Income data:", data); 
                                // Обновляем только список вакансий без перезагрузки страницы
                                $('.vacancies').html($(data).find('.vacancies').html());
                            }
                        });
                    }
                
                    // Добавляем обработчик события на изменение состояния радио кнопок уровня дохода
                    $(document).ready(function() {
                        $('input[name="check_sched"]').change(handleShedChange);
                    });
                </script>

                <div class="filters-group-name">
                    <span class="group-name">
                        <legend>Уровень дохода</legend>
                    </span>
                </div>
                <div class="filters-group-items">
                    <ul class="group-items-ul">
                        <li class="item-li">
                            <label class="item-radio-label">
                                <input name="income_level" class="item-radio-element" type="radio">
                                <span class="item-radio-text">
                                    <span>Не имеет значения</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-radio-label">
                                <input name="income_level" class="item-radio-element" type="radio" value="30000">
                                <span class="item-radio-text">
                                    <span>от 30 000</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-radio-label">
                                <input name="income_level" class="item-radio-element" type="radio" value="50000">
                                <span class="item-radio-text">
                                    <span>от 50 000</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-radio-label">
                                <input name="income_level" class="item-radio-element" type="radio" value="100000">
                                <span class="item-radio-text">
                                    <span>от 100 000</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-radio-label">
                                <input name="income_level" class="item-radio-element" type="radio" value="150000">
                                <span class="item-radio-text">
                                    <span>от 150 000</span>&nbsp;
                                </span>
                            </label>
                        </li>
                        <li class="item-li">
                            <label class="item-radio-label">
                                <input name="income_level" class="item-radio-element" type="radio" value="200000">
                                <span class="item-radio-text">
                                    <span>от 200 000</span>&nbsp;
                                </span>
                            </label>
                        </li>
                    </ul>               
                </div>
                

                <div class="filters-group-name">
                    <span class="group-name">
                        <legend>Регион</legend>
                    </span>
                </div>
                
                <div class="filters-group-items">
                    <ul class="group-items-ul">
                        <label class="label_reg" for="region">Выберите регион:</label>
                        <select name="region_value" id="region_value">
                            <option value="all">Все регионы</option>
                            {% for area in all_areas %}
                                <option value="{{ area }}" {% if selected_region == area %}selected{% endif %}>{{ area }}</option>
                            {% endfor %}
                        </select>
                    </ul>               
                </div>
                
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var selectedRegion = "{{ selected_region }}";
                        if (selectedRegion !== "") {
                            document.getElementById("region_value").value = selectedRegion;
                        }
                    });
                
                    document.getElementById("region_value").addEventListener("change", function() {
                        var selectedRegion = this.value;
                        window.location.href = "/search?search=" + encodeURIComponent(selectedRegion);
                    });
                </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    // Функция для отправки AJAX запроса на сервер при изменении состояния радио кнопок уровня дохода
                    function handleIncomeLevelChange() {
                        var selectedIncomeLevel = $('input[name="income_level"]:checked').val();
                        console.log("Selected income level:", selectedIncomeLevel);
                        var searchQuery = $('input[name="search"]').val(); // Получаем текущее значение поискового запроса
                        // Отправляем AJAX запрос на сервер
                        $.ajax({
                            url: window.location.href,
                            type: 'GET',
                            data: {
                                search: searchQuery,
                                income_level: selectedIncomeLevel
                            },
                            success: function(data) {
                                console.log("Received Income data:", data); 
                                // Обновляем только список вакансий без перезагрузки страницы
                                $('.vacancies').html($(data).find('.vacancies').html());
                            }
                        });
                    }
                
                    // Добавляем обработчик события на изменение состояния радио кнопок уровня дохода
                    $(document).ready(function() {
                        $('input[name="income_level"]').change(handleIncomeLevelChange);
                    });
                </script>
            </div>
        </div>

        <div class="vacancies-container">
            <div class="vacancies">
                {% for vacancy in vacancies %}
                <div class="vacancy-box">
                    <div class="name_vac">{{vacancy.name}}</div> 
                    <div class="info_vac_salary"><strong>{{ vacancy.salary }} ₽</strong></div> 
                    <div class="info_vac_empl">{{ vacancy.employer }}</div> 
                    <div class="info_vac_area">{{ vacancy.area }}</div>
                    <button class="btn-more-info">Подробнее</button>
                    <button class="btn-call">Откликнуться</button>
                </div>
                {% empty %}
                <p>Нет результатов для "{{ query }}".</p>
                {% endfor %}
            </div>
    
        </div>
        
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if previous_page_number %}
                {% if show_first_page_link %}
                    <a href="?page={{ first_page_number }}">{{ first_page_number }}&nbsp;&nbsp;...</a>
                {% endif %}
                <a href="?page={{ previous_page_number }}">{{ previous_page_number }}</a>
            {% endif %}
        
            <span class="current">
                <a href="?page={{ vacancies.number }}">{{ vacancies.number }}</a>
            </span>
        
            {% if next_page_number %}
                <a href="?page={{ next_page_number }}">{{ next_page_number }}</a>
                {% if show_last_page_link %}
                    <a href="?page={{ total_pages }}">...&nbsp;&nbsp;{{ total_pages }}</a>
                {% endif %}
            {% endif %}
        </span>
    </div>

    
    
    
    {% endblock %}

</body>
</html>





